*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Georgia, serif; /*Kan ikke lige finde marko one*/
    color: #F1ECE6;
    background-color: #525C3A; 
}

.topbar{
   background-color: #525C3A;
   
}

