*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Georgia, serif; /*Kan ikke lige finde marko one*/
    color: #F1ECE6;
    background-color: #525C3A; 
}

.topbar ul{
   background-color: #525C3A;
   list-style: none;
   display: flex;
   justify-content: center;
   height: 50px;
   margin-top: 1em;
}

.topbar a{
    text-decoration: none;
    color: #F1ECE6;
    font-size: 30px;
    padding: 2em;
}

.branding {
    background-color: #F1ECE6;
    height: 200px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 2em;
}

.branding img{
    height: 100px;
}

.tætpådk {
    color: #525C3A;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
