body{
    margin: 0;
    font-family: Georgia, serif;
    color: #F3DBB9;
    background-color: #525C3A;
}

header{
    background: #F3DBB9;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

